
<div class="app-content">
  <div class="title"> IoT People Counter</div>

  <!-- Principal Data -->
  <div class="main-content"> 
    <div class="video"> <img src="/video_feed">  </div>
    <div class="today"> 
         <div class="title-today"> Today {{totalNumberToday}} </div> 
        <div id="pipe" style="height: 400px; max-width: 400px" ></div> 
    </div>
  </div>

  <!-- Principal Historic -->
  <div class="history-content"> 
    <!-- <div class="date"> <input type="date" /> 
    
    </div> -->
    <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start' (change)="changeRangeData($event)" [endDate]='end'></ejs-daterangepicker>

    <div class="today"> 
        <div id="history-graph" style="height: 400px; width:100%" ></div> 
    </div>
  </div>



</div>
    